# Environnement dev|prod
env=

# Victoria Traces vars
VT_RETENTION_PERIOD=4w

# Victoria Logs vars
VL_RETENTION_PERIOD=4w

# Victoria Metrics vars
VM_RETENTION_PERIOD=4w

# Grafana vars
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=
GRAFANA_LDAP_HOST=
GRAFANA_BIND_DN=
GRAFANA_BIND_PASSWORD=
